---
// interface Props{
//     title:string
//     description:string
//     url:string
//     date:string
// }
import { render } from "astro:content"
const {experience} = Astro.props
const {data} = experience
const {title, date} = data
const {Content} = await render(experience)

---
<div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">{date}</time>
<h3 class="text-lg font-semibold text-yellow-600 dark:text-white">{title}</h3>
<div id="content_expierence">
    <Content/>
</div>


<style>
    #content_expierence{
        margin-bottom: 1rem;
        text-wrap: balance;
    }
</style>